

*{
    margin: 0;
    padding: 0;
    background-color: black;
    color: white;
    overflow: hidden; 
}

main{
    height: 100vh;
    box-sizing: border-box;
    margin: 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: black;
    color: aliceblue;
}

h1{
    font-size: 36px;
}

p{
    font-size:24px;
}

div {
    display: flex;
    justify-content: space-between;
}

a{
    background-color: #2c2b2e8a;
    width: 230px;
    text-align: center;
    border-radius: 19px;
    font-size: 20px;
    font-weight: 300;
    padding: 13px  0;
    text-decoration: none;
    color: rgb(255, 251, 251);
    font-family: 'Montserrat';
    
}

img{
    height: 500px;
    width: 500px;
}

@media screen and (max-width: 600px) {
    .conteudo, a {
        width: 70%;
    }

    h1{
      font-size: 50px;  
    }

    p{
        font-size: medium;
    }
     
    img{
        width: 300px;
        height: 300px;
    }

    a{
        width: 100px;
    }
 
}